include LICENSE
include LICENSING.md
include THIRD_PARTY_NOTICES.md
include README.md
include THIRD_PARTY_LICENSES/MIT-Albumentations-2.0.8.txt

exclude CLA.md
exclude THIRD_PARTY_LICENSES/OFL-1.1.txt
prune legal

prune docs/_build
global-exclude docs/augs_overview/*/images/*.jpg

global-exclude *.py[co] .DS_Store

# Exclude test, tools, and benchmark directories
prune tests
prune tools
prune benchmark
prune conda.recipe
prune codecov.yaml
prune pre-commit-config.yaml
prune .github
prune requirements-dev.txt
