--extra-index-url https://download.pytorch.org/whl/cpu
albu-spec>=0.0.6
asv
cyclonedx-bom>=7.3.1
deepdiff>=9.1.0
defusedxml>=0.7.1
eval-type-backport>=0.4.0
google-docstring-parser>=0.0.11
huggingface-hub>=1.27.0
hypothesis>=6.165.5
mypy>=2.3.0
opencv-python-headless>=5.0.0.93
pillow>=12.3.0
pip-audit>=2.10.1
pre_commit>=4.6.2
pyrefly>=1.2.0
pytest>=9.1.1
pytest-randomly>=4.1.0
pytest-xdist>=3.8.0
pytest_cov>=7.1.0
pytest_mock>=3.15.1
pytz>=2026.3.post1
pyvips[binary]>=3.1.1
requests>=2.34.2
ruff>=0.16.2
scikit-image>=0.25.2
scikit-learn>=1.7.2
tomli>=2.4.1
torch==2.13.0+cpu; sys_platform != "darwin"
torch==2.13.0; sys_platform == "darwin"
twine>=7.0.0
types-PyYAML>=6.0.12.20260724
types-setuptools>=84.0.0.20260812
zizmor>=1.29.0
